/*---------------------\
| STYLING FOR HOMEPAGE |
\---------------------*/

.jumbotron {
    text-align: center;
    background:rgb(223, 198, 73);
    color: rgb(63, 51, 39);
    font-family: 'Staatliches', cursive;
    border-radius: 0;
    padding: 1%;
    background-image: linear-gradient(0deg, rgb(253, 248, 225) 100%, transparent);
}

.col-lg-12 {
    padding: 0;
}

.card {
    outline: 3px;
    outline-style: solid;
    outline-color: rgb(52, 53, 53);
    border-radius: 0;
}

h1 {
    font-size: 80px;
}

h3 {
    white-space:normal;
    word-wrap:break-word;
}

h4 {
    font-size: 30px;
}

.card {
    font-family: 'Lexend Giga', sans-serif;

}

.background {
    background-image: url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1541087358%2Fcouple-hiking-with-scenic-view-HIKINGSTUFF1118.jpg%3Fitok%3DPgYlAryV&q=85");
    background-size: cover;
    z-index: 0;
    position: fixed;
    /* Prevent tiling/clipping */
    height: 100vh;
    background-repeat: space;
    background-position: center;
    top: 0;
    height: 100vh;
    width: 100vw;
}
.card {
    background-color:whitesmoke;
    color: black;
}
.btn {

    background-color: rgb(32, 121, 255);
    color: white;
    border: 2px solid rgb(0, 84, 211);
}

.btn:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(255, 0, 55);

}

.wrongDate {
    margin-top: 10px;
}
#state {
    text-transform: uppercase;
}
#name {
    text-transform: capitalize;
}

/*---------------------------\
| STYLING FOR SEARCH RESULTS |
\---------------------------*/
#trailList {
    color:mediumblue;
}

.card-wrapper {
    background: rgba(224, 243, 149, 0.85);
    background-image: linear-gradient(245deg, rgb(241, 183, 159) 8%, transparent);
    border: 2px solid rgb(65, 95, 99);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: rgb(43, 29, 66);
    font-family: 'Lexend Giga', sans-serif;
}

.card-wrapperTrail {
    background-image: linear-gradient(129deg, rgb(255, 255, 255) 55%, transparent);
    border: 2px solid rgb(65, 95, 99);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: rgb(43, 29, 66);
    font-family: 'Lexend Giga', sans-serif;
}

.header {
    font-size: 25px;
}

.image {
    width: 100%;
    max-height: 110px;
    margin-bottom: 1rem;
    overflow: hidden;
}

#weatherInfo * {
    z-index: 1;
}

#weatherInfo {
    justify-content: center;
    padding: 0 0.5rem 0.2rem;
}

#weatherInfo p {
    margin-bottom: 0;
}

.weatherCont {
    margin: 3px;
    padding: 0;
}

.weatherCond {
    display: inline-block;
}

[tempText] {
    /* 1.1rem seems largest possible w/o breaking line on iPad viewport */
    text-indent: 1.1rem;
}

.wIcon {
    width: 2.5rem;
    padding: 0;
}

.hotTemp {
    background-color:rgb(83, 17, 19);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.coldTemp {
    background-color: rgb(20, 21, 24);
    padding-left: 10px;
    padding-right: 10px;
}

.hourWrapper {
    /* divider line */
    border-top: 1px solid black;    
}

.timeNTemp {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.rainyWeather {
    background-color:rgb(86, 111, 151);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.condNIcon {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.trailCont {
    padding: 0.3%;
}

.trailWrap:hover {
    border: 3px solid orange;
}

/* The Modal (background) */
#trailModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% center;
    padding: 10px;
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    overflow: auto;
    /* center the contents */
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lexend Giga', sans-serif;
  }
.trailImg {
    /*margin: 1rem auto 1.5rem;*/
    max-width: 250px;
    height: auto;
    margin: 0 auto;
  }
  .trailImg:hover {
    /*margin: 1rem auto 1.5rem;*/
    max-width: 250px;
    height: auto;
    box-sizing: border-box;
    border: 2px solid orange;
  }
.imgLink {
    margin: 1rem auto 1.5rem;
}

a>img:hover{
    box-sizing: border-box;
    border: 2px solid orange;
}

#infoCont {
    position: absolute;
    top: 0;
}

/* RESTART BUTTON */
  #resRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #restart {
    opacity: 0;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 5px 100px 5px;
  }

  #restart:hover {
      background-color: #ec3700;
  }
  
  #restart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #restart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #restart:hover span {
    padding-right: 25px;
  }
  
  #restart:hover span:after {
    opacity: 1;
    right: 0;
  }

/*--------\
| ON LOAD |
\--------*/
/* this is CSS version of onload animations */
/*
#sign-in {
    position: relative;
    opacity: 0;
    top: 1000px;
}

.jumbotron {
    position: relative;
    opacity: 0;
    bottom: 1000px;
}
*/

/* 
/*-----------------\
| SEARCH ANIMATION |
\-----------------
#na {
    position: relative;
    opacity: 0;
    top: 10000px;
} */

/*------------\
| ANIMATE.CSS |
\------------*/
.fadeIn {
    animation-duration: 1s;
    animation-delay: 1s;
}
.slideInUp {
    animation-duration: 0.8s;
}

#showError {
    font-size: 0.9rem;
    color: lightgrey;
    animation-name: highlightMsg;
    animation-duration: 5s;
}
@keyframes highlightMsg {
    0% {color: red;
        font-weight: bolder;}
    80% {color: grey;
        font-weight: normal;}    
    100% {
        color: lightgrey;
        font-weight: lighter;}
}

/*------------\
| MEDIA QUERY |
\------------*/

/* For medium or less size */
@media only screen and (max-width: 425px) {
    .modal p {
        font-size: 0.8rem;
    }
    .trailImg {
        /* Use default size of thumbnails */
        max-width: 200px;
        height: auto;
    }

    h1 {
        font-size: 50px;
    }
    h3 { /* modal heading */
        font-size: 1.5rem;
    }
    h4 {
        font-size: 15px;
    }
    .card-container {
        min-width: 100%;
    }    
}

/* Small gaps in weather div looks poor in large viewports */
@media only screen and (min-width: 1024px) {
    [tempText] {
        /* 1.1rem seems largest possible w/o breaking line on iPad viewport */
        text-indent: 2rem;
    }
}